<nav class="navbar navbar-expand-lg navbar-dark shadow-lg py-4" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Images/LOGO_EN_NEGRO.png" routerlink="" id="logo" style="width: 6rem;" ></a>
    <button class="navbar-toggler border border-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-center fs-6 mx-3" aria-current="page" routerLink="/">ACERCA DE IBAC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center fs-6 mx-3" routerlink="#">VER ONLINE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center fs-6 mx-3" routerLink="/ubicacion">UBICACION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center fs-6 mx-3" routerLink="#">EVENTOS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
