<div class="container-fluid">
    <section class="row">
        <div class="col mx-auto d-flex image-bg1">
            <p class="text-white text-portada">UBICACION IGLESIA</p>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col">
            <h2 class="text-center fst-italic">Encuentra nuestra ubicacion.</h2>
        </div>
        <section class="row mt-3">
            <div class="col-12 col-md-8 mx-auto">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.1181627255079!2d-74.18790560745401!3d4.603817573752078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f8edf75789f%3A0xd94231158334973b!2sIglesia%20Integral%20Bendici%C3%B3n%20Abundante!5e0!3m2!1ses!2sco!4v1644466688282!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>

    </section>
</div>
